<%= form_with(model: task_list, local: true) do |form| %>
  <% if task_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task_list.errors.count, "error") %> prohibited this task_list from being saved:</h2>

      <ul>
      <% task_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mt-3 text-left">
    <%= form.label "Title:", class: 'font-weight-bold' %><br>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="field my-3 text-left">
    <%= form.label "Description:", class: 'font-weight-bold' %><br>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="text-right">
    <%= link_to 'Back', task_lists_path, class: 'btn btn-outline-danger btn-md font-weight-bold' %>
    <%= form.submit "Task", class: 'btn btn-outline-primary btn-md font-weight-bold' %>
  </div>
<% end %>
